.titulo_disponiveis{
    font-family: 'Indie Flower', cursive;
    margin: 10px 10px 10px 70px;
}
.titulo_bemvindo p{
    text-align: center;
    font-size: 45px;
    font-family: 'Great Vibes', cursive;
}
.imagem_right{
    object-fit: cover;
    width: 40%;
    height: 100%;
    position:fixed
}

.tamanho{
    color: silver;
    font-size: 12px;
}

body{
    background-color: #e6eef7;
}
.right_side{
    display: inline;
    width: 40%;
}
.left_side{
    display: inline;
    float: left;
    width: 60%;
}

.imagem_present{
    border-radius: 50%;
    width: 230px;
    height: 230px;
    object-fit: cover;
}
 
.imagem_present:hover{
    animation: infinite 4s initial;
    animation-duration: 4s;
    border-radius: 0%;
    width: 230px;
    height: 230px;
    object-fit: contain;
}

.imagem_present_disable{
    opacity: 0.5;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

li{
    padding: 10px;
}